{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  Подать заявку на конкурс
{% endblock %}

{% block content %}
  {% with data=form.instance %}
  {% if "/delete/" in request.path %}
    <h2>Удалить заявку {{ data.id }}</h2>
  {% elif "/edit/" in request.path %}
    <h2>Редактировать заявку {{ data.id }}</h2>
  {% else %}
    <h2>Подать заявку</h2>
  {% endif %}
  <div class='card col-4'>
    <div class='card-header'>
      Конкурс мороженого
    </div>
    <div class='card-body'>
      <form method="post">
        {% csrf_token %}
        {% if "/delete/" not in request.path %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="Отправить" %}
        {% else %}
          <p>{{ data.title }}</p>
          <p>{{ data.price }}</p>
          <p>{{ data.description }}</p>
          <p>{{ data.comment }}</p>
          {% bootstrap_button button_type="submit" content="Удалить" %}
        {% endif %}
      </form>
    </div>
  </div>
    {% if form.is_valid %}
      <h2 style="color:#00AA00">Рецепт мороженого "{{ data.title }}" принят на конкурс!</h2>
      Номер заявки: {{ data.id }}
      <hr>
    {% elif "/delete/" in request.path %}
      <h3>Удалит безвозвратно!</h3>
    {% elif request.POST %}
      <h2 style="color:#FF0000">Что-то пошло не так! Проверте заполнение формы!</h2>
      <hr>
    {% endif %}
  {% endwith %}
  <div>
    <a href="{% url 'contest:list' %}">Список всех заявок</a>
  </div>
{% endblock %}