{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  Подать заявку на конкурс
{% endblock %}

{% block content %}
  <div class='card col-4'>
    <div class='card-header'>
      Конкурс мороженого
    </div>
    <div class='card-body'>
      <form action="{% url 'contest:create' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Отправить" %}
      </form>
    </div>
  </div>
  {% with data=form.instance %}
    {% if form.is_valid %}
      <h2 style="color:#00AA00">Рецепт мороженого "{{ data.title }}" принят на конкурс!</h2>
      Номер заявки: {{ data.id }}
      <hr>
      <div>
        <a href="{% url 'contest:list' %}">Список всех заявок</a>
      </div>
    {% elif request.POST %}
      <h2 style="color:#FF0000">Что-то пошло не так! Проверте заполнение формы!</h2>
    {% endif %}
  {% endwith %}
{% endblock %}